<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <!--sitewide-->
    <header th:fragment="my-header"> <!--scroll up -> fixed-->
      <!--top-->
      <div class="sitewide-top">
        <div class="top-div flex center">
          <div class="logos">
            <a href="#"><img src="./assets/img/old-navy-sitewide-top/download.svg" alt="logo0"/></a>
            <a href="#"><img src="./assets/img/old-navy-sitewide-top/download (1).svg" alt="logo1"/></a>
            <a href="#"><img src="./assets/img/old-navy-sitewide-top/download (3).svg" alt="logo2"/></a>
            <a href="#"><img src="./assets/img/old-navy-sitewide-top/download (2).svg" alt="logo3"/></a>
          </div>
          <p>FREE SHIPPING ON $50+ FOR REWARDS MEMBERS <a>SIGN IN OR JOIN</a> <a>Details</a></p>
          <div class="flex">
            <a href="#"><p>Sign In<br/><b>Your Account</b></p></a>
            <a href="#" style="padding: 7px 10px 0 10px;"><img src="./assets/img/old-navy-sitewide-top/download (4).svg" alt="logo4"/></a>
          </div>
        </div>
      </div>
      <!--nav-->
      <div id="scrollup">
        <div class="sitewide-nav flex">
          <div class="nav-left flex">
            <a href="index.html" class="nav-a logo-container"><img src="./assets/img/Old_Navy.jpg" alt="old navy logo"/></a>
            <a href="./list.html?select=nowTrending" class="nav-a">Now Trending!</a>
            <a href="./list.html?select=Women" class="nav-a">Women</a>
            <a href="./list.html?select=Men" class="nav-a">Men</a>
            <a href="./list.html?select=Girls" class="nav-a">Girls</a>
            <a href="./list.html?select=Boys" class="nav-a">Boys</a>
            <a href="./list.html?select=Toddler" class="nav-a">Toddler</a>
            <a href="./list.html?select=Naby" class="nav-a">Baby</a>
            <a href="./list.html?select=Maternity" class="nav-a">Maternity</a>
            <a href="./list.html?select=Uniforms" class="nav-a">Uniforms</a>
            <a href="./list.html?select=FamilyPajamas" class="nav-a">Family Pajamas</a>
            <a href="./list.html?select=TodaysDeals" class="nav-a">Today’s Deals!</a>
          </div>
          <div class="nav-right">
            <div class="in-nav flex">
              <a>Find a store</a>
              <a>Navyist Rewards</a>
              <a>Gift Card</a>
            </div>
            <form class="flex">
              <input type="text" placeholder="Search"/>
              <button type="submit"><img src="./assets/img/icons/rg.svg" alt="돋보기" style="width: 30px; height: auto;"/></button>
            </form>
          </div>
        </div>
      </div>
    </header>
</body>
</html>